<app-menu></app-menu>
<div class="datatable-wrapper">
  <a class="btn btn-default ajout" [routerLink] = "'ajout'">Ajouter une Demande </a>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID Demande</th>
        <th>Note</th>
        <th>Type de demande</th>
        <th>Id Carton Client</th>
        <th>Date</th>
        <th>Etat</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let demande of demandes " >
        <td>{{demande.idDemand}}</td>
        <td>{{demande.commentaire}}</td>
        <td>{{demande.demandType}}</td>
        <td>{{demande.idCartonClient}}</td>
        <td>{{demande.date}}</td>
        <td>{{demande.etat}}</td>
        <td><button class="btn btn-primary" (click) ="showDetails(demande)" >Détails</button></td>
        
      </tr>
    </tbody>
  </table>
</div>
