div.dataTables_wrapper .no-footer {
    margin-top: 15%; 
}
div.datatable-wrapper{
    margin-top: 5%;
}

.ajout{
    position: absolute;
    right: 15%;
    top: 15%;
    font-size: 16px;
    font-weight: 100;
}